button {
  background: linear-gradient(135deg, #009f18 0%, #004a00 60%);
  box-shadow: 0px 0px 20px #009f18;
  border: none;
  border-radius: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  color: #ffffff;
}
