<app-header titulo="Categorias"></app-header>

<div class="pesquisar">
  <img src="assets/Icons/Lineado/search.svg" alt="">
  <input type="text" class="login-usuario" placeholder="Pesquisar nome categoria" autocomplete="off">
</div>

<div class="button-div mt-5">
  <app-button titulo="+ Nova Categoria" [routerLink]="['/mobile/category/new']"></app-button>
</div>
<hr class="separador" />
<p class="titulo-categoria">Lista de Categorias</p>

  <app-item-lista-categoria
    *ngFor="let categoria of categorias; let first = first; let last = last"
    [titulo]="categoria.nome"
    [subtitulo]="true"
    [subtitulotexto]="categoria.descricao"
    [primeiro]="first"
    [ultimo]="last"
    [id]="categoria.id"
  ></app-item-lista-categoria>



<div class="button-div mt-4">
  <app-button-secundary titulo="Carregar Mais Categorias - 4 / 15"></app-button-secundary>
</div>


<app-footer menu="categoria"></app-footer>
