.opcoes-relatorio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 24px;
  margin-right: 24px;

}

select,
select:focus,
select:active,
select:focus {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;

  background: rgba(239, 239, 255, 0.1);

  border: 2px solid #474053;
  backdrop-filter: blur(20px);

  border-radius: 18px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  width: 45%;
}

select > option {
  background: #474053;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
  color: #fff;
}

.pesquisar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 8px;

  height: 32px;
  margin-left: 24px;
  margin-right: 24px;

  background: rgba(239, 239, 255, 0.1);

  border: 1px solid #474053;
  border-radius: 5px;
}

small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.5;
}

.acoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

app-button-secundary {
  width: 45%;
}

.categoria {
  margin-left: 24px;
  margin-right: 24px;
  width: 88%;
  height: 20%;

}
