// CORES VERDES

$primaria-verde-50: #79FF87;
$primaria-verde-100: #5EFA71;
$primaria-verde-200: #41E35C;
$primaria-verde-300: #17CC47;
$primaria-verde-400: #00B531;
$primaria-verde-500: #009F18;
$primaria-verde-600: #008900;
$primaria-verde-700: #007300;
$primaria-verde-800: #005E00;
$primaria-verde-900: #004A00;

// CORES AZUL

$primaria-Azul-1: #0084CE;
$primaria-Azul-2: #00BEFB;
$primaria-Azul-3: #5EEBFF;


// CORES Vermelhas

$primaria-Vermelha-1: #FF0303;
$primaria-Vermelha-2: #FC4444;
$primaria-Vermelha-3: #CF0303;



// CORES GRADIENTES

$verde-gradiente: linear-gradient(100deg , $primaria-verde-500, $primaria-verde-900);
$vermelho-gradiente: linear-gradient(100deg , $primaria-Vermelha-2, $primaria-Vermelha-3);
$azul-gradiente: linear-gradient(100deg , $primaria-Azul-2, $primaria-Azul-1);

