button {
  border-radius: 12px;
  background: none;
  border: 2px solid #009f18;
  border-radius: 12px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Gradiente/01 */

  background: linear-gradient(135deg, #009f18 0%, #004a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
