<div class="footer-menu">
  <img [ngClass]="{'menu-ativo' : ativarMenu == 'relatorio'}" src="assets/Icons/Lineado/rank.svg" [routerLink]="['/mobile/report']"  alt="">
  <img [ngClass]="{'menu-ativo' : ativarMenu == 'categoria'}" src="assets/Icons/Lineado/grid1.svg" [routerLink]="['/mobile/category']" alt="">
  <img [ngClass]="{'menu-ativo' : ativarMenu == 'lancamento'}" src="assets/Icons/Lineado/logo_menu.svg" [routerLink]="['/mobile/entry']" alt="">
  <img [ngClass]="{'menu-ativo' : ativarMenu == 'perfil'}" src="assets/Icons/Lineado/user.svg" [routerLink]="['/mobile/profile']" alt="">
</div>
