<div class="item" [ngClass]="{ultimo: ultimo, primeiro: primeiro}">
  <div class="titulo-combo">
    <img src="assets/Icons/Lineado/circulo-azul.svg" class="iconecirculo" alt="">
    <div class="titulo-subtitulo">
      <label class="titulo">{{ titulo }}</label>
      <small class="subtitulo" *ngIf="subtitulo">{{ subtitulotexto }}</small>
    </div>
  </div>
  <div class="acoes-categoria">
    <img style="margin-right: 12px;" src="assets/Icons/Lineado/pen.svg" [routerLink]="routerLinkEdit" alt="">
    <img src="assets/Icons/Lineado/close.svg" [routerLink]="routerLinkdelete" alt="">
  </div>
</div>
